@charset "utf-8";
/* CSS Document */

.header{
	height: 200px;
	background-color: #FFBC6B;
	position: relative;
}

.logo_image{
	height: 150px;
	width: 250px;
	position: absolute;
	left: 42%;
}

.profile_image{
    cursor:pointer;
    border-radius: 50%;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 55%;
	left: 82%;
}

.login_button_style , .sign_in_button_style{
	height: 15%;
	width: 7%;
	border-style:none;
	background-color: #FFDFBA;
	border-radius: 5px;
}

.sign_in_button_position{
	position: absolute;
	top: 65%;
	left: 87%;
}

.login_button_style:hover , .sign_in_button_style:hover{
	border-style:none;
	background-color: #F0963D;
	cursor: pointer;
}

.nav{
	margin: 0 auto;
	width: 100%;
	height: 30px;
	padding: 0;
	position: absolute;
	top: 84%;
	display: flex;
  	justify-content: center;
	background-color: #F6EDE2;
	border-bottom:1px solid #343434;
	border-top: 1px solid #343434;
}

.nav li{
	float: left;
	font-size: 16px;
	font-family: "Arial";
	list-style: none;
	width: 120px;
	height: 100%;
	text-align: center;
	line-height: 30px;
	color: black;
	cursor: pointer;
	border-left: 1px solid #343434;
	border-right: 1px solid #343434;
	
}

.active, .nav li:hover{
	background-color: #F0963D;
	
}

.body{
	height: 700px;
	background-color: #F6EDE2;
	position: relative;
	padding: 50px 100px;
}

.dropdown_btn_menu{
	border-style:none;
	z-index: 1;
	height: 4%;
	width: 6%;
	border-style:none;
	background-color: #FFDFBA;
	position: absolute;
	top: 6%;
	left: 25%;
	border-radius: 10px;
	text-align-last:center;

}

.dropdown_btn_menu option{
    background-color: #FFDFBA;
}

.dropdown_btn_menu:hover{
	/*background-color: #F0963D;*/
	cursor: pointer;
}
.sort_btn{
    border-style:none;
	z-index: 1;
	height: 4%;
	width: 4%;
	border-style:none;
	background-color: #FFDFBA;
	position: absolute;
	top: 6%;
	left: 32%;
	border-radius: 10px;
}

.add_button_dialog1 , .add_button_dialog2{
	z-index: 1;
	height: 4%;
	width: 10%;
	border-style:none;
	background-color: #FFDFBA;
	border-radius: 10px;
}

.add_button_dialog1:hover ,.add_button_dialog2:hover , .edit_button:hover , .delete_button:hover, .sort_btn:hover{
	border-style:none;
	background-color: #F0963D;
	cursor: pointer;	
}

.add_button_position1{
	position: absolute;
	top: 6%;
	left: 50%;
}

.add_button_position2{
	position: absolute;
	top: 6%;
	left: 65%;
}

#editUniversityModel, #deleteUniversityModel, #addRankingModel , #addUniversityModel{
	position: fixed;
	margin: 0 auto;
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	vertical-align: center;
	visibility: hidden;
}

#editUniversityModel.active , #deleteUniversityModel.active, #addRankingModel.active , #addUniversityModel.active{
	visibility: visible;
}

/* Modal Content */
.modal-content1{
	background-color: #F6EDE2;
	margin: auto;
	padding: 0 10px 10px 10px;
	border: 1px solid #888;
	width: 50%;
	height: 45%;
}

#editUniversityModel .modal-content3{
	background-color: #F6EDE2;
	margin: auto;
	padding: 0 10px 10px 10px;
	border: 1px solid #888;
	width: 50%;
	height: 45%;
}

.modal-content2 {
	background-color: #F6EDE2;
	margin: auto;
	padding: 10px;
	border: 1px solid #888;
	width: 50%;
	height: 70%;
}

.modal-content4 {
	background-color: #F6EDE2;
	margin: auto;
	padding: 10px;
	border: 1px solid #888;
	width: 30%;
	height: 15%;
	position: relative;
}

.add_content{
	padding: 30px 0;
	width: 90%;
	height: 90%;
}

.add_form_style{
	padding: 20px 0 0 20px;
	width: 95%;
	height: 90%;
	margin: 0;
}

.add_label_style, .edit_label_style{
	margin-bottom: 25px;
	width: 25%;
	font-family: "Arial";
	font-size: 22px;
	text-align: left;
	display: inline-block;
}

.add_textfield_style, .edit_textfield_style{

	width: 70%;
    height: 5%;
    padding: .375rem .75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.add_textfield_style:focus{
	border: none;
	outline: none;
}

.add_button , .edit_button, .delete_button{
	background-color: #F6EDE2;
	float: right;
	font-size: 18px;
	color: #f7b924;
    border-color: #f7b924;
	cursor: pointer;
	width: 80px;
	height: 30px;
	border-radius: 5px;
}

.modal-content4 div{
	margin: 0 ;
	position: absolute;
	top: 55%;
	left: 40%;
}

.add_button:hover, .edit_button:hover, .delete_button:hover{
	color: black;
	background-color: #FFDFBA;
}

.checkbox_div{
	height: 15%;
	width: 70%;
	display: inline-block;
}

.small_checkbox_div{
	height: 100%;
	width: 33%;
	float: left;
}

/* The Close Button */
.close1 , .close2 , .close3, .close4{
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close1:hover, .close1:focus ,.close2:hover, .close2:focus, .close3:hover, .close3:focus, .close4:hover, .close4:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.col-sm-12{
	height: 80%;
}

table{
	padding:50px 0;
}

th{
	
	background-color: #FFBC6B;
	border: 1px solid black;
	color: white;
	font-family: "Arial";
}

td{	
	border: 1px solid black;
	background-color: #FFDFBA;
}

td:hover {
	background-color: #FFEAD1;
}


.modal-content4 h1{
	text-align: center;
	font-family: "Arial";
	font-size: 24px;
}

.edit_button_dialog , .delete_button_dialog{
	font-size: 24px;
	border-style:none;
	background-color: #FFDFBA;
	height: 30px;
	width: 30px;
	margin-right: 10px;
}

.add_button:hover , .edit_button_dialog:hover , .delete_button_dialog:hover{
	border-style:none;
	background-color: #F0963D;
	cursor: pointer;	
}

table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc{
	background-color: none;
}

.pagination-right,
.pagination-left{
	color: #FFBC6B;
}

.pagination-right:hover,
.pagination-left:hover{
	color: #6D4F26;
}

.paginate_button:hover{
	background-color: none !important;
}

.footer{
	height: 100px;
	background-color: #6D4F26;
	position: relative;
}

.footer p{
	position: absolute;
	top: 5%;
	left: 40%;
	color: white;
	font-size: 14px;
}
.footer a{
	position: absolute;
	top: 55%;
	color: white;
	font-size: 14px;
}
.fa-facebook {
	position: absolute;
	left: 40%;
}

.fa-instagram {
	position: absolute;
	left: 42%;
}

.fa-twitter {
	position: absolute;
	left: 44%;
}

.fa-youtube {
	position: absolute;
	left: 46%;
}
