@charset "utf-8";
/* CSS Document */

.bg_color_div{
	min-height: 80vh;
	padding-top: 150px;
	padding-bottom: 150px;
	background-color: #F6EDE2;
}

.wrap_div{
	margin:0 auto;
	max-width: 1200px;
}

.center_card_div{
	
	overflow: hidden;
	height: 750px;
	border-radius: 10px;
	background-color: white;
	box-shadow:  0px 8px 20px 0px #585858;
}

.center_card_left{
	float: left;
	width: 5%;
	height: 100%;
	background: white;
}

.center_card_heading{
	
	float: left;
	width: 45%;
	height: 100%;
	background: #FFBC6B;
}

.fa-mortar-board{
	margin: 200px 195px 0;
	height: 120px;
	width: 120px;
	font-size: 50px;
	color: white;
}

.title_text1{
	font-size: 70px;
	color: white;
	font-family: "Arial";
	text-align: center;
	margin-top: 30px;
	margin-bottom: 0px;
}

.subtitle_text1{
	font-size: 22px;
	color: white;
	font-family: "Arial";
	text-align: center;
}

.center_card_body{
	
	float: left;
	width: 50%;
	height: 100%;	
}

.center_card_body_part1{
	width: 100%;
	height: 20%;
}

.center_card_body_part1_1{
	float: left;
	width: 50%;
	height: 100%;
}

.center_card_body_text1{
	font-size: 50px;
	font-family: "Arial";
	margin: 0;
	padding-top: 90px;
	padding-left: 50px;
	padding-bottom: 0px;
}

.center_card_body_part2{
	width: 100%;
	height: 55%;
}

.textfield_style{
	padding-left: 20px;
	align-content: center;
	height: 60px;
	width: 70%;
	border-style: none;
	background-color: #F3F3F3;
	font-size: 24px;
	border-radius: 5px;
}

.textfield_style:hover{
	background-color: #E6DCDC;
}

input:focus{
	outline: none;
	background-color: #E6DCDC;
}

.textfield_padding1{
	margin-top: 30px;
	margin-left: 86px;
}

.textfield_padding2{
	margin-top: 15px;
	margin-left: 86px;
}

.checkbox_style{
	float: left;
	margin-top: 20px;
	margin-left: 120px;
	margin-right: 20px;
	width:20px;
	height:20px;
	cursor: pointer;
	background: #F3F3F3;
}

.checkbox_text{
	margin-top: 20px;
	margin-left: 20px;
	font-size: 16px;
	font-family: "Arial";
	color: #6C6C6C;
}

.hyperlink_text{
	color: #4BA9F5;
	cursor: pointer;
}

.center_card_body_part3{
	width: 100%;
	height: 25%;
}

.register_button_style{
	height: 60px;
	width: 74%;
	margin-left: 86px;
	background: #FFBC6B;
	border-radius: 5px;
	cursor: pointer;
	align-content: center;
	color: white;
	font-size: 24px;
	font-family: "Arial";
	text-align: center;
	border: none;
}

.register_button_style:hover{
	background: #F0963D;
}

.login_div{
	width: 10%;
	height: 10%;
	margin: 0 auto;
	padding-top: 30px;
	text-align: center;
}

.login_text{
	font-family: "Arial";
	font-weight: bold;
	color: #4BA9F5;
	cursor: pointer;
}
